@import "tailwindcss";
/* Container and Layout */
.dashboard-container {
  width: 100%;
  /* min-height: 500px; */
  padding: 50px;
  /* font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif; */
  /* background-color: #ffffff; */
  /* color: #1f2937; */
}

.dashboard-header {
  margin-bottom: 20px;
  border-bottom: 2px solid #e6e7e7;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header h1 {
  /* margin: 0; */
  font-size: 1.5rem;
  font-weight: 600;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  /* border: 1px solid #dadbdd; */
  border-radius: 6px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); */
}

table {
  min-width: 950px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dadbdd;
  table-layout: fixed;
}

th,
td {
  /* padding: 14px 16px; */
  padding: 8px 10px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #dadbdd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #e6e7e7;
  font-weight: 600;
  /* color: #4b5563; */
  cursor: pointer;
  /* user-select: none; */
  /* transition: background 0.5s; */
}

th:hover {
  background-color: #dadbdd;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background-color: #f9fafb;
}

/* Text and Links */
/* .text-bold {
  font-weight: 600;
  color: #111827;
} */

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  max-width: 100%; /* Or a specific width for the column/cell */
}

.url-truncated a {
  color: #2563eb;
  text-decoration: none;
}

.url-truncated a:hover {
  text-decoration: underline;
}

/* Form Elements */
.status-select {
  width: 100%;
  max-width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 1px solid #dadbdd;
  border-radius: 6px;
  /* font-size: 13px; */
  /* background-color: #fff; */
  cursor: pointer;
  /* outline: none; */
  /* transition: border-color 0.2s; */
}

/* .status-select:focus {
  border-color: #2563eb;
} */

.delete-btn {
  /* background: none;
  border: none; */
  cursor: pointer;
  font-size: 18px;
  opacity: 1;
  transition:
    opacity 0.2s,
    transform 0.1s;
}

.delete-btn:hover {
  opacity: 2;
  /* transform: scale(1.1); */
}
